@model GreenZeta.com.Models.ProjectTag

@{
    ViewBag.Title = "Details";
}
@if(Request.IsAuthenticated) {
<h2>Details</h2>

<fieldset>
    <legend>ProjectTag</legend>

    <div class="display-label">Project</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.alias)
    </div>

    <div class="display-label">Tag</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag.name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectTagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}