@model IEnumerable<GreenZeta.com.Models.ProjectTag>

@{
    ViewBag.Title = "Index";
}
@if(Request.IsAuthenticated) {
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Project
        </th>
        <th>
            Tag
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProjectTagID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProjectTagID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProjectTagID })
        </td>
    </tr>
}

</table>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}