@model GreenZeta.com.Models.Tag

@{
    ViewBag.Title = "Details";
}
@if(Request.IsAuthenticated) {
<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TagID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}