@model GreenZeta.com.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Project</legend>

    <div class="display-label">alias</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alias)
    </div>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">caption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caption)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">icon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.icon)
    </div>

    <div class="display-label">launchDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.launchDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
