@model GreenZeta.com.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Project</legend>

    <div class="display-label">alias</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.alias)
    </div>

    <div class="display-label">title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">caption</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.caption)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">link</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.link)
    </div>

    <div class="display-label">icon</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.icon)
    </div>

    <div class="display-label">banner</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.banner)
    </div>

    <div class="display-label">launchDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.launchDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProjectID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
