@model GreenZeta.com.ViewModels.HomeIndexData
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutGZ.cshtml";
}

<h2>Featured</h2>
<ul>
@foreach (var item in Model.featuredProjects)
{
    <li>@Html.ActionLink(item.title, "Profile", new { id = item.alias })</li>
}
</ul>

<h2>Tag Cloud</h2>
<ul>
@foreach (var group in Model.tagCloud.SelectMany(p => p.ProjectTags).GroupBy(c => c.Tag))
{
    if (group.FirstOrDefault().Tag.type == "medium")
    {
    <li>@Html.ActionLink(group.FirstOrDefault().Tag.name + ": " + group.Count().ToString(), "Listing", new { id = "testing" })</li>
    }
}
</ul>

<h2>Featured Product</h2>
<ul>
    <li>@Html.ActionLink(@Model.featuredProduct.FirstOrDefault().title, "Profile", new { id = @Model.featuredProduct.FirstOrDefault().alias })</li>
</ul>

<h2>Products</h2>
<ul>
@foreach (var item in Model.Products)
{
    <li>@Html.ActionLink(item.title, "Profile", new { id = item.alias })</li>
}
</ul>
