@model IEnumerable<GreenZeta.com.Models.Project>
@{
    ViewBag.Title = "GreenZeta Profile: "+Model.FirstOrDefault().title;
    ViewBag.Icon = Model.FirstOrDefault().icon;
    ViewBag.Description = Model.FirstOrDefault().caption;
    ViewBag.BodyClass = "profile";
    Layout = "~/Views/Shared/_LayoutGZ.cshtml";
}
<div class="row" style="overflow: visible;">
    <div id="banner" class="grid_12" style="background-image:url('/images/portfolio/@Model.FirstOrDefault().banner');">
        <img src="/images/portfolio/@Model.FirstOrDefault().icon" width="128" height="128" />
    </div>
</div>

<div class="row">
    <div class="grid_12">
        <h2 id="title">@Model.FirstOrDefault().title</h2>

        <div id="clientgroup">
            <h3>Client: </h3>
            <ul id="clients" class="taglist">
            @foreach (var item in Model.FirstOrDefault().ProjectTags)
            {
                if (item.Tag.type == "client")
                {
                <li class="tag-1 arrow_box">
                    @Html.ActionLink(item.Tag.name, "Listing", new { id = item.Tag.name })
                </li>
                }
            }
            </ul>
        </div>
        <div id="taggroup">
            <h3>Medium: </h3>
            <ul id="portfolio" class="taglist">
            @foreach (var item in Model.FirstOrDefault().ProjectTags)
            {
                if (item.Tag.type == "medium")
                {
                <li class="tag-1 arrow_box">
                    @Html.ActionLink(item.Tag.name, "Listing", new { id = item.Tag.name })
                </li>
                }
            }
            </ul>
        </div>
        <div id="socialgroup">
        	@if( @Model.FirstOrDefault().link != null ){
        		<a id="clientlink" class="glass roundcorners" href="@Model.FirstOrDefault().link" target="_blank">Live Site</a>
        	}
        	<div style="float:right;">
	        	<script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/Share"></script>
	        	&nbsp;&nbsp;
	        	<script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script><style> html .fb_share_button { display: -moz-inline-block; display:inline-block; padding:1px 20px 0 5px; width:35px; height:20px; border:none; background:url(/images/fbshare.png) no-repeat top right; } </style> <a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" class="fb_share_button" onclick="return fbs_click()" target="_blank" style="text-decoration:none;"></a>
	        	&nbsp;&nbsp;
	        	<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-hashtags="greenzeta">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				&nbsp;&nbsp;
				<!-- Place this tag where you want the share button to render. -->
				<div class="g-plus" data-action="share" data-annotation="none"></div>
				&nbsp;&nbsp;
				<!-- Place this tag after the last share tag. -->
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>
        </div>
		<div id="descriptiongroup">@Model.FirstOrDefault().description</div>
    </div>
</div>

<div class="row">
    <div class="grid_2">&nbsp;</div>
    <div id="screengroup" class="grid_8">

        <div id="gallery-1" class="royalSlider rsDefault fwImage col span_4">
        @foreach (var item in Model.FirstOrDefault().ScreenShots)
        {
            <a class="rsImg"  data-rsDelay="1000" data-rsBigImg="/images/portfolio/@item.url" href="/images/portfolio/@item.url">@item.caption<img width="96" height="96" class="rsTmb" src="/image?p=@item.url&w=96" /></a>
        }
        </div>

    </div>
    <div class="grid_2"></div>
</div>






